*{
    margin: 0;
}

.pai{
    position: absolute;
    height: 300vh;
}

.filha1, .filha2, .filha3 {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.6);
    margin: 10px;
    position: static;
}

.filha2 {
    position: fixed;
    background-color: green;
    top: 30%;
    right: 0;  
    z-index: 1;
}

.filha1 {
    
}

.filha3 {
    background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
}
 
.outra {
    font-size: 50px;
    background-color: white;
    top: 50;
    left: 50;
}