*{
    margin: 0%;
    padding: 0%;
} 

div{
    color: initial;
    margin-left: 20px;
}

.pai > .filha > .filha {
    color: red;
}

.dad h1~ p {
    color: red;
}

.dad p+h1 {
    color: blue;
}

[meu-atributo="valor"] {
    color: red;
}

[checked] {
    width: 50px;
    height: 20px;
}