
.heading{   
    transition: all 300ms ease-in-out;
}

.heading:hover {
    
    background-color: red;
}

a{
    color: darkorange;
}

a:link {
    color: deeppink;
}

a:visited{
    color: firebrick;
}

a:hover {
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active {
    background-color: darkgreen;
    color: white;
    text-decoration: none;
}

input:focus {
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5);
    outline: none;
    border: 1px solid black;
}

input:disabled {
    background-color: rebeccapurple;
    cursor: not-allowed;
}

input:checked + p{
    background-color: red;
}

.pai .lista li:last-child {
    background-color: red;
}

input:required{
    background-color: red;
}