p{
    color: white;
    background-color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1.5px;
    word-spacing: 10px;
    line-height: 23px;
    text-align: left;
    text-decoration: overline;
    text-indent: 20px;
    text-shadow: -1px 1px 1px red;
    text-transform: capitalize;
}