*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    background-color: yellow;
    height: 800px;  
}

.flex-item {
    width: 100%;
    background-color: red;   
}

.flex-item:nth-child(1) {
    order: 1;
}