*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

p {
    margin: 0 0 24px;
}

.two-columns {
    display: flex;
}

.two-columns .col {
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin: 15px;
    padding: 30px;
}

.col:nth-child(2) {
    background-color: red;
}

.gallery {
    flex-flow:row wrap ;
    display: flex;
}

.gallery .img {
    flex: 1 0 20%;
    height: 50px;
    background-color: black;
    margin: 10px;
}