*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}

.grid{
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px ;
    background-color: rgba(56, 256, 128, 0.84);

}


 .grid .col{
    width: 33.3%;
    height: 300px;
    float: left;
    padding: 15px;
}


.grid .col-content{
    width: 100%;
    height: 100%;
    background-color: rgb(256, 0, 0);
    box-shadow: 7px 5px 6px 3px black;
}

.menu {
    width: 100%;
    position: fixed;
    background-color:  rgba(0, 0, 0, 0.84);
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;

}

.menu ul li {
    float: left;    
}

.menu ul li a {
    display: block;
    color: white;
    padding: 20px;    
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background-color: #333;
}

.full-page {
    max-width: 100%;
    padding: 0 30px;
    padding-top: 73px ;
    height: 100vh;
    background-color: turquoise;

}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}


@media all and (max-width: 568px) {
    .grid .col{
        width: 100%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col{
        width: 50%;
    }
}

@media all and (min-width: 1200px){
    .grid .col{
        width: 25%;
    }
}