@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&display=swap');
:root{
    --primary-color: rgb(0,0,139);
    --primary-color-darker: rgb(12, 12, 50);
}

* {
    box-sizing: border-box; 
    outline: 0;

}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Opens sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 2px;
  text-align: left;
}

th {
  font-weight: bold;
}


.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button {
     display: block;
     width: 100%;
     margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;    
}

form input:focus{
    outline: 1px solid var(--primary-color) 
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

form button:active {
     background-color: blue;
}

.paragrafo-resultado, .bad{
    background-color: #06f002;
    padding: 10px 20px;
}

.bad {
    background-color: #d20000;
    padding: 10px 20px;
}