
html {
    font-size: 62.5%;
    scroll-behavior: smooth; /* essencial */
}


* {
    margin: 0;
    padding: 0;
}

.pai {
    width: 50rem;
    height: 100vh;
    background-color: yellow;
}

.pai > div {
    width: 50%;
    height: 50rem;
    background-color: blue;
}

p {
    font-size: 2vmax;
}

.color-one {
    background-color: turquoise ;

}

.color-two {
    background-color: violet;
}
